<template id="recipes-root">
  <div class="container mx-auto">
    <h4
      v-if="loadError"
      class="mx-6 py-2 flex justify-center bg-red-lighter"
    >
      {{ loadError.toString() }}
    </h4>
    <h3 class="mx-auto ml-2 pt-6 pb-6">Recipes</h3>
    <recipes-form :recipes="recipes" />
    <h3
      v-if="!hasRecipes"
      class="mx-auto ml-2 pt-6 pb-6"
    >
      No Recipes
    </h3>
    <div>
      <recipe-item
        v-for="item in recipes"
        :key="item.id"
        :id="item.id"
        :name="item.name"
        :description="item.description"
        :ingredients="item.ingredients"
        :on-delete-click="remove"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import RecipesForm from './RecipesForm'
import RecipeItem from './RecipeItem'

export default {
  name: 'RecipesRoot',
  components: {
    RecipesForm,
    RecipeItem,
  },
  computed: {
    ...mapGetters({
      recipes: 'recipes/recipes',
      loadError: 'recipes/loadError',
      editing: 'recipes/editing',
      loading: 'recipes/loading',
    }),
    hasRecipes() {
      return this.recipes && this.recipes.length > 0
    },
  },
  created() {
    this.load()
  },
  methods: {
    ...mapActions({
      create: 'recipes/create',
      load: 'recipes/load',
      remove: 'recipes/remove',
    }),
  },
}
</script>

<style scoped lang="scss">
</style>
