<template>
  <form class="bg-white shadow-md rouded px-8 pt-6 pb-8 mb-4 mx-2">
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="name"
      >
        Name
      </label>
      <input
        v-model="formRecipe.name"
        class="form-field"
        placeholder="Recipe Name..."
        name="name"
        type="text"
      >
    </div>
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="name"
      >
        Description
      </label>
      <input
        v-model="formRecipe.description"
        class="form-field"
        placeholder="Describe the recipe..."
        name="description"
        type="textarea"
      >
    </div>
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="ingredients"
      >
        Ingredients
      </label>
      <multi-select
        :value="formRecipe.ingredients"
        :hide-selected="true"
        :multiple="true"
        :options="selectOptions"
        class="form-field"
        label="name"
        track-by="name"
        @select="addFormIngredient"
        @remove="removeFormIngredient"
      >
        <template
          slot="tag"
          slot-scope="props"
        >
          <span>{{ props.option.name }}</span>
          <span @click.prevent="props.remove(props.option)">X</span>
        </template>
      </multi-select>
    </div>
    <div class="flex flex-1 mx-auto justify-around pt-2">
      <button
        :disabled="isClearDisabled"
        class="btn btn-grey"
        @click.prevent="handleClearForm"
      >
        Clear
      </button>
      <button
        :disabled="!canSubmit"
        class="btn btn-teal"
        @click.prevent="handleSubmitForm"
      >
        Submit
      </button>
    </div>
  </form>
</template>

<script>
import MultiSelect from 'vue-multiselect'
import { mapActions, mapGetters } from 'vuex'
import { initialFormState } from '@/vuex/recipes'

export default {
  name: 'RecipesForm',
  components: { MultiSelect },
  computed: {
    ...mapGetters({
      creating: 'recipes/creating',
      editing: 'recipes/editing',
      formRecipe: 'recipes/formRecipe',
      allIngredients: 'ingredients/ingredients',
      availableIngredients: 'recipes/availableIngredients',
    }),
    isClearDisabled() {
      const { name, description } = this.formRecipe
      return (
        name === initialFormState.name &&
        description === initialFormState.description &&
        this.formRecipe.ingredients.length === 0
      )
    },
    nameValid() {
      const { name } = this.formRecipe
      return name && name !== initialFormState.name && name.length > 0
    },
    canSubmit() {
      return this.formRecipe.name && this.nameValid
    },
    selectOptions() {
      return this.availableIngredients.length
        ? this.availableIngredients
        : this.allIngredients
    },
  },
  created() {
    if (this.formRecipe.id) {
      this.getAvailableIngredients(this.formRecipe.id)
    }
    this.getAllIngredients()
  },
  methods: {
    ...mapActions({
      addFormIngredient: 'recipes/addFormIngredient',
      create: 'recipes/create',
      clearForm: 'recipes/clearForm',
      getAvailableIngredients: 'recipes/getAvailableIngredients',
      getAllIngredients: 'ingredients/load',
      removeFormIngredient: 'recipes/removeFormIngredient',
      update: 'recipes/update',
    }),
    handleClearForm() {
      this.clearForm()
    },
    handleSubmitForm() {
      // Submit post to api
      if (!this.canSubmit) return
      const save = this.editing ? this.update : this.create

      save({
        name: this.formRecipe.name,
        description: this.formRecipe.description,
        ingredients: this.formRecipe.ingredients.map(ing => ing.id),
      })

      this.clearForm()
    },
  },
}
</script>
