<template>
  <div
    :key="id"
    class="recipe bg-white shadow-md rounded px-8 py-6 mx-2 mb-2"
  >
    <div class="flex justify-between content-center">
      <span><strong>Name:</strong> {{ name }}</span>
      <button
        class="rounded text-bold text-grey"
        @click.prevent="handleDeleteClick"
      >
        X
      </button>
    </div>
    <div><strong>Description:</strong> {{ description }}</div>
    <div v-if="ingredients.length">
      <strong>Ingredients:</strong>
    </div>
    <ul v-if="ingredients.length > 0">
      <li
        v-for="ingredient in ingredients"
        :key="ingredient.id"
      >{{ ingredient.name }}</li>
    </ul>
    <div><strong>Estimated Price:</strong> {{ price }}</div>
    <button
      class="mt-4 bg-blue-lighter shadow-sm px-2 py-1
             rounded text-blue-darker"
      @click.prevent="handleEditClick"
    >
      Edit
    </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'RecipeItem',
  props: {
    name: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    id: {
      type: String,
      default: '',
      required: true,
    },
    ingredients: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    price() {
      if (this.ingredients && this.ingredients.length) {
        const total = this.ingredients.reduce((acc, ing) => acc + ing.price, 0)
        return `$${Number(total).toFixed(2)}`
      }

      return 'N/A'
    },
  },
  methods: {
    ...mapActions({ beginEdit: 'recipes/beginEdit', remove: 'recipes/remove' }),
    handleDeleteClick() {
      this.remove(this.id)
    },
    handleEditClick() {
      this.beginEdit({
        recipe: {
          name: this.name,
          description: this.description,
          ingredients: this.ingredients,
        },
        id: this.id,
      })
    },
  },
}
</script>

<style scoped lang="scss">
.recipe {
  list-style-type: none;
}
</style>
