<template>
  <div
    :key="id"
    class="ingredient bg-white shadow-md rounded px-8 py-6 mx-2 mb-2"
  >
    <div class="flex justify-between content-center">
      <span><strong>Name:</strong> {{ name }}</span>
      <button
        class="rounded text-bold text-grey"
        @click.prevent="handleDeleteClick"
      >
        X
      </button>
    </div>
    <div><strong>Description:</strong> {{ description }}</div>
    <div><strong>Price:</strong> ${{ Number(price).toFixed(2) }}</div>
    <div v-if="Boolean(unit)"><strong>Unit: </strong>{{ unit }}</div>
    <button
      class="mt-4 bg-blue-lighter shadow-sm px-2 py-1
             rounded text-blue-darker"
      @click.prevent="handleEditClick"
    >
      Edit
    </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'IngredientItem',
  props: {
    name: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    price: {
      type: Number,
      default: 0,
    },
    unit: {
      type: String,
      default: '',
    },
    id: {
      type: String,
      default: '',
      required: true,
    },
  },
  methods: {
    ...mapActions({
      beginEdit: 'ingredients/beginEdit',
      remove: 'ingredients/remove',
    }),
    handleDeleteClick() {
      this.remove(this.id)
    },
    handleEditClick() {
      this.beginEdit({
        ingredient: {
          name: this.name,
          description: this.description,
          price: this.price,
          unit: this.unit,
        },
        id: this.id,
      })
    },
  },
}
</script>

<style scoped lang="scss">
.ingredient {
  list-style-type: none;
}
</style>
