<template id="ingredients-root">
  <div class="container-sm mx-auto">
    <h4
      v-if="loadError"
      class="mx-6 py-2 flex justify-center bg-red-lighter"
    >
      {{ loadError.toString() }}
    </h4>
    <h3 class="mx-auto ml-2 pt-6 pb-6">Ingredients</h3>
    <ingredients-form :ingredients="ingredients" />
    <h3
      v-if="!hasIngredients"
      class="mx-auto ml-2 pt-6 pb-6"
    >
      No Ingredients
    </h3>
    <div>
      <ingredient-item
        v-for="item in ingredients"
        :key="item.id"
        :id="item.id"
        :name="item.name"
        :description="item.description"
        :price="item.price"
        :unit="item.unit"
        :on-delete-click="remove"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import IngredientsForm from './IngredientsForm'
import IngredientItem from './IngredientItem'

export default {
  name: 'IngredientsRoot',
  components: {
    IngredientsForm,
    IngredientItem,
  },
  computed: {
    ...mapGetters({
      ingredients: 'ingredients/ingredients',
      loadError: 'ingredients/loadError',
      editing: 'ingredients/editing',
      loading: 'ingredients/loading',
    }),
    hasIngredients() {
      return this.ingredients && this.ingredients.length > 0
    },
  },
  created() {
    this.load()
  },
  methods: {
    ...mapActions({
      create: 'ingredients/create',
      load: 'ingredients/load',
      remove: 'ingredients/remove',
    }),
  },
}
</script>

<style scoped lang="scss">
</style>
