<template>
  <form class="bg-white shadow-md rouded px-8 pt-6 pb-8 mb-4 mx-2">
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="name"
      >
        Name
      </label>
      <input
        v-model="formIngredient.name"
        class="form-field"
        placeholder="Ingredient Name..."
        name="name"
        type="text"
      >
    </div>
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="name"
      >
        Description
      </label>
      <input
        v-model="formIngredient.description"
        class="form-field"
        placeholder="Describe the ingredient..."
        name="description"
        type="textarea"
      >
    </div>
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="name"
      >
        Price
      </label>
      <input
        v-model="formIngredient.price"
        class="form-field"
        name="price"
        type="number"
      >
    </div>
    <div class="my-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="unit"
      >
        Unit
      </label>
      <input
        v-model="formIngredient.unit"
        class="form-field"
        placeholder="Unit of Measurement..."
        name="unit"
        type="text"
      >
    </div>
    <div class="flex flex-1 mx-auto justify-around">
      <button
        :disabled="isClearDisabled"
        class="bg-grey-light hover:bg-grey rounded text-bold text-grey-darkest py-2 px-4"
        @click.prevent="handleClearForm"
      >
        Clear
      </button>
      <button
        :disabled="!canSubmit"
        class="bg-teal hover:bg-teal-dark rounded text-bold text-white py-2 px-4"
        @click.prevent="handleSubmitForm"
      >
        Submit
      </button>
    </div>
  </form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { initialFormState } from '@/vuex/ingredients'

export default {
  name: 'IngredientsForm',
  computed: {
    ...mapGetters({
      creating: 'ingredients/creating',
      editing: 'ingredients/editing',
      formIngredient: 'ingredients/formIngredient',
    }),
    isClearDisabled() {
      const { name, description, price } = this.formIngredient
      return (
        name === initialFormState.name &&
        description === initialFormState.description &&
        price === initialFormState.price
      )
    },
    nameValid() {
      const { name } = this.formIngredient
      return name && name !== initialFormState.name && name.length > 0
    },
    canSubmit() {
      return this.formIngredient.name && this.nameValid
    },
  },
  methods: {
    ...mapActions({
      create: 'ingredients/create',
      clearForm: 'ingredients/clearForm',
      update: 'ingredients/update',
    }),
    handleClearForm() {
      this.clearForm()
    },
    handleSubmitForm() {
      // Submit post to api
      if (!this.canSubmit) return
      const save = this.editing ? this.update : this.create

      save({
        name: this.formIngredient.name,
        description: this.formIngredient.description,
        price: this.formIngredient.price,
        unit: this.formIngredient.unit,
      })

      this.clearForm()
    },
  },
}
</script>
