<template>
  <nav class="flex items-center justify-between flex-wrap bg-teal p-6">
    <div class="flex flex-1 items-center flex-no-shrink text-white mr-6 pr-8">
      <span
        class="font-semibold text-xl tracking-tight"
        @click.prevent="goHome"
      >
        MealPlanner
      </span>
    </div>
    <div
      v-if="isLoggedIn"
      class="flex flex-1 items- justify-center p-0 mr-0"
    >
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <router-link
          class="block lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4"
          to="/ingredients"
        >
          Ingredients
        </router-link>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <router-link
          class="block lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4"
          to="/recipes"
        >
          Recipes
        </router-link>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <router-link
          class="block lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4"
          to="/mealplans"
        >
          MealPlans
        </router-link>
      </div>
      <div
        v-if="isLoggedIn"
        class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
      >
        <button
          class="text-teal-lighter hover:text-white"
          @click.prevent="signOut"
        >
          SignOut
        </button>
      </div>
    </div>
    <div
      v-else
      class="flex flex-1 items- justify-end p-0 mr-0"
    >
      <router-link
        class="lg:mt-0 text-teal-lighter hover:text-white mr-2"
        to="/sign_in"
      >
        Login
      </router-link>
    </div>
  </nav>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'NavBar',
  computed: {
    ...mapGetters({
      isLoggedIn: 'users/isLoggedIn',
    }),
  },
  methods: {
    ...mapActions({ logout: 'users/logout' }),
    goHome() {
      this.$router.push('/')
    },
    signOut() {
      this.logout()
    },
  },
}
</script>

<style scoped lang="scss">
.container {
  $horizontal-padding: 1em;
  $vertical-padding: 1.2em;

  align-items: center;
  background-color: #22aa88;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2em;
  height: 100%;
  margin: 0;
  max-height: 2.5em;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  padding-top: $horizontal-padding;
  padding-bottom: $horizontal-padding;
  min-width: 100%;
}
</style>
