<template>
  <div
    id="app"
    class="container-sm mx-auto bg-grey-lightest"
  >
    <nav-bar />
    <router-view />
  </div>
</template>

<script>
import '@/assets/styles/main.css'
import NavBar from '@/components/common/NavBar/NavBar'

export default {
  name: 'App',
  components: {
    NavBar,
  },
}
</script>

<style lang="scss">
:root {
  $dark-neutral: #222222;
  $light-neutral: #dddddd;
  $orange-dark: #fc861e;
  $orange-light: #f4a158;
}

:focus {
  outline: rebeccapurple auto 2px;
}

a:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

button:disabled,
button:disabled:hover {
  background-color: #888888;
  color: #444444 !important;
}

body {
  font-family: 'Roboto', sans-serif, monospace;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
</style>
