@tailwind preflight;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
  width: 100vw;
}

.btn {
  @apply rounded font-bold px-4 py-2;
}

.btn-blue {
  @apply bg-blue text-grey-lightest;
}

.btn-blue-rev {
  @apply bg-white text-blue border-blue border;
}

.btn-teal {
  @apply bg-teal text-grey-lightest;
}

.btn-grey {
  @apply bg-grey-darker text-grey-lightest;
}

.btn-teal:hover {
  @apply bg-teal-dark;
}

.btn-blue:hover {
  @apply bg-blue;
}

.btn-grey:hover {
  @apply bg-grey-darkest;
}

.link {
  @apply text-blue flex items-center;
}

.link:hover {
  @apply text-blue-lighter;
}

.link:visited {
  @apply text-blue;
}

.form-container {
  @apply mt-8 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col;
}

.form-field {
  @apply shadow appearance-none border rounded w-full my-2 py-2 px-3;
  @apply text-grey-darker leading-tight;
}

.alert {
  @apply border border-red-light flex justify-center items-center rounded bg-red-lightest px-4 py-3 text-red-dark;
  position: absolute;
  top: .3em;
  right: .5em;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.inactive {
  visibility: hidden;
  opacity: 0;
}

.notice {
  @apply border border-blue-darker flex justify-center items-center bg-blue rounded text-grey-lightest text-sm font-bold px-4 py-3;
  position: absolute;
  top: .3em;
  right: .5em;
  transition: visibility 0.5s, opacity 0.5s linear;
}

