<template>
  <form class="bg-white shadow-md rouded px-8 pt-6 pb-8 mb-4 mx-2">
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="email"
      >
        Email
      </label>
      <input
        v-model="email"
        class="form-field"
        placeholder="Email..."
        name="email"
        type="email"
      >
    </div>
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="password"
      >
        Password
      </label>
      <input
        v-model="password"
        class="form-field"
        placeholder="Describe the ingredient..."
        name="password"
        type="password"
      >
    </div>
    <div class="mb-4">
      <label
        class="block text-grey-darker text-sm font-bold mb-2"
        for="passwordConfirmation"
      >
        Confirm Password
      </label>
      <input
        v-model="passwordConfirmation"
        class="form-field"
        placeholder="Describe the ingredient..."
        name="passwordConfirmation"
        type="password"
      >
    </div>

    <div class="flex flex-1 mx-auto justify-around">
      <button
        :disabled="!canSubmit"
        class="bg-teal hover:bg-teal-dark rounded text-bold text-white py-2 px-4"
        @click.prevent="handleSubmitForm"
      >
        Submit
      </button>
      <button
        :disabled="isClearDisabled"
        class="bg-grey-light hover:bg-grey rounded text-bold text-grey-darkest py-2 px-4"
        @click.prevent="handleClearForm"
      >
        Clear
      </button>
    </div>
  </form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'SignUpForm',
  data() {
    return {
      email: '',
      password: '',
      passwordConfirmation: '',
    }
  },
  computed: {
    ...mapGetters({
      signingUp: 'users/signingUp',
      signUpError: 'users/signUpError',
    }),
    isClearDisabled() {
      return this.email.length === 0 && this.password.length === 0
    },
    loginValid() {
      return (
        this.email.length > 3 &&
        this.password.length > 3 &&
        this.password === this.passwordConfirmation
      )
    },
    canSubmit() {
      return this.loginValid
    },
  },
  methods: {
    ...mapActions({ signUp: 'users/signUp' }),
    handleClearForm() {
      this.email = ''
      this.password = ''
      this.passwordConfirmation = ''
    },
    handleSubmitForm() {
      if (this.canSubmit) {
        this.signUp({
          email: this.email,
          password: this.password,
          passwordConfirmation: this.passwordConfirmation,
        })
        this.handleClearForm()
      }
    },
  },
}
</script>
