<template>
  <div class="container mx-auto">
    <sign-in-form />
  </div>
</template>

<script>
import SignInForm from './SignInForm'

export default {
  name: 'SignInRoot',
  components: { SignInForm },
}
</script>
