<template>
  <div class="container mx-auto">
    <sign-up-form />
  </div>
</template>

<script>
import SignUpForm from './SignUpForm'

export default {
  name: 'SignUpRoot',
  components: { SignUpForm },
}
</script>
